<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, 'error') %> <%= 'prohibited this Clothing type from being saved' %>:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, class: "form-control", placeholder: "e.g. \"Jay Paul\"", required: true %>
  </p>
  <p>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, class: "form-control", placeholder: "e.g. \"Ayingl\"", required: true %>
  </p>
  <p>
    <%= f.label :address %><br/>
    <%= f.text_field :address, class: "form-control", placeholder: "e.g. \"Tagbilaran City\"" %>
  </p>
  <p>
    <%= f.label :contact_details %><br/>
    <%= f.text_field :contact_details, class: "form-control", placeholder: "e.g. \"Mobile | Email | Home\"" %>
  </p>
  <p>
    <%= f.label :birthday %><br/>
    <%= f.date_field :birthday, class: "form-control" %>
  </p>
  <hr />
  <p>
    <%= f.submit class: "btn btn-lg btn-success btn-block" %>
    <%= link_to 'Cancel', employees_path, class: "btn btn-lg btn-danger btn-block" %>
  </p>
<% end %>