<div class="panel panel-default">
  <div class="panel-heading no-print"><h2>Employee's Profile</h2></div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading no-print"><h3>Personal Info</h3></div>
        <%= render @employee %>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading no-print"><h3>Sewed Clothing</h3></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row search-date-form">              
              <%= render "employees/search_date_form" %>              
            </div>
          </li>
          <li class="list-group-item">
            <div class="row table-header">
              <div class="col-md-1"><strong>#</strong></div>
              <div class="col-md-2"><strong>Owner Name</strong></div>
              <div class="col-md-2"><strong>Clothing Type</strong></div>
              <div class="col-md-1"><strong>Quantity</strong></div>
              <div class="col-md-1"><strong>Unit Price</strong></div>
              <div class="col-md-2"><strong>Total</strong></div>
              <div class="col-md-3"><strong>Action</strong></div>
            </div>
            <hr class="table-line"/>
            
              <% @sewed_clothings_on_date.each_with_index do |sewed_clothing, index| %>
                <div class="row">          
                  <%= render sewed_clothing, index: index %>                
                </div> 
                <hr/>     
              <% end %>               
            
            <hr/>                      
            <div class="row">
                <div class="col-md-1 col-md-offset-6">Total: </div>
                <div class="col-md-2">
                  <strong><%= number_to_currency(sewed_clothing_total(@sewed_clothings_on_date), unit: "₱ ") %></strong>
                </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="panel panel-default no-print">
        <div class="panel-heading"><h3>Add Sewed Clothing</h3></div>
        <div class="panel-body">
          <%= render "sewed_clothings/form" %>
        </div>
      </div>

    </div>
  </div>
  <a href="javascript:print()" class="btn btn-lg btn-success btn-block no-print">Print this Page</a>
</div>
<div class="signature yes-print">
  <p>
   Signed: <%= @employee.full_name %>, Employee
  </p>
  <br>
  <br>
  <p>
   Signed: Carmelita B. Aying, Wild Dust Tailoring
  </p>
</div>
<br>


