<div class="panel panel-default">
  <div class="panel-heading no-print"><h2>Employee's Profile</h2></div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading no-print"><h3>Personal Info</h3></div>
        <%= render @employee %>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading no-print"><h3>Sewed Clothing</h3></div>
        <ul class="list-group">
          <li class="list-group-item">
            <table class="table">
              <thead>
                <tr>
                  <%= render "employees/search_date_form" %>
                </tr>
              </thead>
            </table>
          </li>
          <li class="list-group-item">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Owner Name</th>
                  <th>Clothing Type</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Total</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @sewed_clothings_on_date.each_with_index do |sewed_clothing, index| %>
                  <%= render sewed_clothing, index: index %>
                <% end %>                          
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total: </td>
                  <td><strong><%= number_to_currency(sewed_clothing_total(@sewed_clothings_on_date), unit: "₱ ") %></strong></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>

      <div class="panel panel-default no-print">
        <div class="panel-heading"><h3>Add Sewed Clothing</h3></div>
        <%= render "sewed_clothings/form" %>
      </div>

    </div>
  </div>
  <a href="javascript:print()" class="btn btn-lg btn-success btn-block no-print">Print this Page</a>
</div>
<div class="signature yes-print">
  <p>
   Signed: <%= @employee.full_name %>, Employee
  </p>
  <br>
  <br>
  <p>
   Signed: Carmelita B. Aying, Wild Dust Tailoring
  </p>
</div>
<br>


