<%= form_for(@clothing_type) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control", require: true, placeholder: "e.g. \"Polo, Sando\"" %>
  </p>
  <p>
    <%= f.label :unit_price %><br/>
    <%= f.text_field :unit_price, class: "form-control", require: true, placeholder: "e.g. \"25, 35\"" %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description, class: "form-control",  placeholder: "e.g. \"Basketball uniform down\""%>
  </p>
  <hr />
  <p>
    <%= f.submit class: "btn btn-lg btn-success btn-block cancel-button" %>
  </p>
<% end %>