<div class="panel panel-default employee-page-wrapper">
  <div class="panel-heading"><h2>Clothing Type Details</h2></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">Name: <b><%= @clothing_type.name %></b></li>
        <li class="list-group-item">Unit Price: <b><%= @clothing_type.unit_price %></b></li>
        <li class="list-group-item">Description: <b><%=@clothing_type.description %></b></li>
        <li class="list-group-item">
          <div class="row">
                <div class="col-xs-6 col-lg-3"></div>
                <div class="col-xs-6 col-lg-3">
                  <%= link_to 'Back', clothing_types_path, class: "btn btn-lg btn-warning btn-block" %>
                </div>
                <div class="col-xs-6 col-lg-3">
                  <%= link_to 'Edit', edit_clothing_type_path(@clothing_type), class: "btn btn-lg btn-success btn-block" %>
                </div>
                <div class="col-xs-6 col-lg-3">
                  <%= link_to 'Delete', clothing_type_path(@clothing_type), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger btn-block" %>
                </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

