  <%= form_for([@employee, @sewed_clothing]) do |f| %>  
    <div class="row">  
      <% if @sewed_clothing.errors.any? %>
            <div id="error_explanation">
              <h5><%= pluralize(@sewed_clothing.errors.count, 'error') %> <%= 'prohibited this Clothing type from being saved' %>:</h5>
              <ul>
              <% @sewed_clothing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>                 
      <% end %>
    </div>

    <div class="row field-margin">
      <div class="col-md-3"><%= f.text_field :owner_name, class: "form-control", placeholder: "Owner name", required: true %></div>
      <div class="col-md-3"><%= f.collection_select :clothing_type_id, ClothingType.all, :id, :name, {prompt: true}, {class: "form-control", required: true} %></div>
      <div class="col-md-3"><%= f.text_field :quantity, class: "form-control", placeholder: "Quantity", required: true %></div>
      <div class="col-md-3"><%= f.submit class: "btn btn-success btn-block new-emp-btn" %></div>
    </div>
  <% end %>


