<%= content_tag_for(:tr, sewed_clothing) do %>
  <td><%= index + 1 %></td>
  <td><%= sewed_clothing.owner_name %></td>
  <td><%= sewed_clothing.clothing_type.name %></td>
  <td><%= sewed_clothing.quantity %></td>
  <td><%= number_to_currency(sewed_clothing.clothing_type.unit_price, unit: "₱ ") %></td>
  <td><%= number_to_currency(sewed_clothing.total, unit: "₱ ") %></td>
  <td>
    <div class="row no-print">
      <div class="col-xs-6 col-lg-4">
        <%= link_to "Edit", edit_employee_sewed_clothing_path(@employee, sewed_clothing), class: "btn btn-warning btn-block" %>
      </div>
      <div class="col-xs-6 col-lg-4">
        <%= link_to "Delete", employee_sewed_clothing_path(@employee, sewed_clothing), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </td>
<% end %>