<!DOCTYPE html>
<html>
<head>
  <title>WildDustPayroll</title>
  <%= stylesheet_link_tag    "application", media: :all, "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body data-no-turbolink="true">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Wild Dust", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class= "<%= active_link(employees_path) || active_link(root_path) %>" ><%= link_to "Employees",      employees_path      %></li>
          <li class= "<%= active_link(clothing_types_path) %>" ><%= link_to "Clothing Types", clothing_types_path %></li>
          <li class= "<%= active_link(about_path) %>" ><%= link_to "About", about_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%= render "layouts/login_items" %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="prompt-messages">
      <%= prompts(notice, alert) %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
